body {
  background: #b3f280;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsRyYoml3AnWpyXC6DakM9Rn8ooCRhpHbgPA&s);
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container, .welcome-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#message {
  margin-top: 15px;
  color: red;
}
